*.iml
/local.properties
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
/captures
.externalNativeBuild
.idea/*
build/
*.bat
gradlew
app/app.iml
/*/build/
com_crashlytics_export_strings.xml
local.properties
.gradle/
.signing/
*.iml
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

